@import '../../../styles/settings.scss';

.root {
    height: 100%;
    margin: 50px;
    .wrapper {
        height: auto;
        width: 100%;
        background-color: $color-dark;
        opacity: 0.8;
        border-radius: 20px;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
            color: $color-bright;
            display: inline-block;
            padding-right: 5%;
            font-family: $main-font;
            font-size: 25px;
        }
        button {
            width: 200px;
            height: 60px;
            border-radius: 5px;
            background-color: $color-happy;
            font-family: $main-font;
            font-size: 20px;
        }
    }
}
